<h1>Information</h1>
<p></p>
<p>New sample project has been created with ASP.NET Core 6.0 and Angular 13</p>
<p>The new All Mails menu has been created for calling external API for REST API function</p>
<p>The API function coding writtern in the ASP.NET Core Controller names "ExternalAPIControllers.cs"</p>
<p>The sample json third party URL is taken from jsonplaceholder site. <a href='https://jsonplaceholder.typicode.com/posts'>https://jsonplaceholder.typicode.com/posts</a></p>
<p>Now the newly created "ExternalAPIControllers.cs" is connnected with the Angular 13 client app named "ClientApp" and the component is "all-mails.component.ts" </p>
<p>Add controller name in the proxy.config.js file in the client app </p>
<p></p>
